.message-list {
  /* 30px for status bar + 50px for search bar = 80px */
  height: calc(100vh - 80px);
  border-right: 1px solid lightgray;
  grid-area: messages;
}

@media screen and (max-width: 1024px) {
  .message-list {
    height: calc(100vh - 30px);
  }
}

@media screen and (max-width: 500px) {
  .message-list {
    /* searchbar + collapsed user list + status */
    height: calc(100vh - 140px);
  }
}

.messages {
  height: 100%;
  overflow-y: auto;
}

.inbox-status {
  height: 30px;
  background-color: #79B6F2;
  color: #F7F7F7;
  line-height: 30px;
  padding-left: 10px;
  margin: 0px;
}