.message-summary {
  border-left: 3px solid #79B6F2;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: 1px 0;
}

.message-summary:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

.message-subject {
  font-weight: 600;
  font-size: 17px;
  margin: 0 0 8px 0;
}

.message-sender {
  margin: 0;
}